// Typography
@mixin h1 {
  font-size: clamp(32px, 5vw, 40px);
}
@mixin h2 {
  font-size: clamp(28px, 4vw, 32px);
}
@mixin h3 {
  font-size: 30px;
}
@mixin h4 {
  font-size: 24px;
}
@mixin h5 {
  font-size: 18px;
}
@mixin h6 {
  font-size: 18px;
}
@mixin p {
  font-size: 16px;
  font-family: $font-family;
  font-weight: 600;  // not quite 500, but Proxima Nova Medium(500) is actually not available;
  line-height: 1.5;
  margin-bottom: 1em;
  color: $text-6;
}
@mixin a {
  font-family: $font-family;
  color: $link-primary;
  &:hover,
  &:focus,
  &:active {
    color: $link-primary;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
@mixin ul {
  font-family: $font-family;
  color: $text-6;
}

@mixin typography {
  body {
    // Typography Resets
    font-family: $font-family;
    --e-global-typography-text-font-family: #{$font-family};
    
    // Website Typography
    h1,h2,h3,h4,h5,h6 {
      font-family: $font-family;
      font-weight: 800;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: 0.6em;
      color: $text-3;
    }
    h1 {
      @include h1;
    }
    h2 {
      @include h2;
    }
    h3 {
      @include h3;
    }
    h4 {
      @include h4;
    }
    h5 {
      @include h5;
    }
    h6 {
      @include h6;
    }
    p {
      @include p;
    }
    a {
      @include a;
    }
    ul {
      @include ul;
    }
  }
}

//
// CTA / Buttons
//
@mixin btn-standard {
  $height: 48px;
  height: $height;
  display: inline-flex;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 600;
  transition: none;
  outline: 0;
  border: 2px solid $border-color;
  border-radius: $border-radius-sm !important;
  box-shadow: none;
  background-color: $shade-6;
  color: $text-1;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
  text-align: center;
  line-height: 1;
  padding: 12px 32px;
  min-width: 150px;
  @media (max-width: $md) {
    min-width: 140px;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    outline: 0;
    color: $text-1;
    text-decoration: none;
  }

  &:hover {
    background: $shade-2;
    border: 2px solid $black;
  }
  &:active {
    background: $shade-2 !important;
    border: 2px solid $black !important;
  }
  &:focus-visible {
    background: $shade-2;
    border: 2px solid $black;
    outline: 2px solid $black;
    outline-offset: 2px;
  }
}
@mixin btn-primary {
  @include btn-standard;
}
@mixin btn-secondary {
  @include btn-standard;
  background: $primary-0;
  color: $text-3;
  border: 2px solid $primary;
  padding: 12px 24px;

  @media (max-width: $md) {
    min-width: 140px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $text-3;
  }

  &:hover {
    background: $primary-1;
  }
  &:active {
    background: $primary-3 !important;
  }
  &:focus-visible {
    background: $primary-1;
    outline: 2px solid $blue;
    outline-offset: 2px;
  }
}
@mixin btn-secondary-transparent {
  @include btn-secondary;
  background: $primary-0;
  color: $white;
  border: 2px solid $white;

  @media (max-width: $md) {
    min-width: 140px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    border: 2px solid $white !important;
  }

  &:hover {
    background: rgba($white, 0.11);
  }
  &:active {
    background: rgba($white, 0.20) !important;
  }
  &:focus-visible {
    background: rgba($white, 0.11);
    outline: 2px solid $white;
    outline-offset: 2px;
  }
}
@mixin btn-tertiary {
  @include btn-secondary;
  background: $white;
  color: $text-1;
  border: 2px solid $border-color;
  border-radius: $border-radius-sm !important;
  min-width: 158px;

  &:hover,
  &:focus,
  &:active {
    color: $text-1;
  }

  &:hover {
    background: $text-8;
    border: 2px solid $shade-4 !important;
  }
  &:active {
    background: $primary-3 !important;
  }
  &:focus-visible {
    background: $primary-1;
    outline: 2px solid $blue;
    outline-offset: 2px;
  }
}

@mixin yellow-divider {
  border-bottom: 5px solid $primary;
  width: 160px;
}

