main.login {
    background: linear-gradient(180deg, #86c7ec 0.06%, rgb(246 248 252 / 70%) 100%);

    .login-card {
        display: flex;
        flex-direction: column;
        padding: 40px;
        border-radius: 16px;
        background: rgba(0, 0, 0, 0.24);
        backdrop-filter: blur(5px);
        gap: 16px;
        width: 100%;
        max-width: 480px;
        align-items: center;
        justify-content: center;

        .header-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;
            border-bottom: 1px solid $black;
            padding-bottom: 16px;

            @media (max-width: $md) {
                flex-direction: column;
            }

            .logo {
                width: 64px;
                height: 64px;
                object-fit: contain;
                object-position: center;
            }
        }

        .login-form {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 100%;
            padding: 0 16px;

            @media (max-width: $md) {
                padding: 0;
            }
        }

        
    }
}